<ion-header>
  <ion-toolbar class="tool-two">
    <ion-title>View Note</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="back" name="arrow-back-outline" routerLink="/tabs/notes"></ion-icon>
    </ion-buttons>
    <!--ion-buttons class="delete" slot="end">
      <ion-icon name="trash-outline" color="danger" (click)="deleteNote(note.createDate)"></ion-icon>
    </ion-buttons-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--ion-card>
    <ion-card-content>
      <ion-card-title>{{ note.title }}</ion-card-title>
      <div class="note-date">{{ note.date }}</div> 
      <hr/>
      <div>{{ note.content }}</div>
    </ion-card-content>
  </ion-card-->
</ion-content>

