<ion-header>
  <ion-toolbar class="tool-one">
    <ion-title>VetCare App</ion-title>
    <ion-buttons class="setting" slot="end">
      <ion-icon name="settings-sharp" routerLink="/tabs/settings"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="tool-two">
    <ion-title>Chat List</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="back" name="arrow-back-outline" routerLink="/tabs/farm"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    Profile
  </ion-list-header>
  <ion-item>
    <!--ion-avater slot="start">
      <img src="{{dp}}" alt="">
    </ion-avater-->
    <ion-thumbnail class="me" slot="start">      
    </ion-thumbnail> 
    <ion-label>
      <h2>
        <b>{{name}}</b>
      </h2>
      
    </ion-label>
  </ion-item>
    
  <!--Users List-->
  <ion-list-header>
    Users
  </ion-list-header>
  <ion-item lines="none" *ngFor="let user of users" (click)="gotoChat(user.uid,user.fullName)"  button>
    <ion-thumbnail class="user" slot="start">      
    </ion-thumbnail> 
        {{user.fullName}}      
  </ion-item>
</ion-content>
