.btnUpdate{
    --background: #007474;
    color: whitesmoke;
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    font-size: medium;
    font-weight: bold;
    text-transform: none;
}
.content{
    margin-left:10px;
    margin-right:10px;
}