ion-toolbar{
    padding-left: 30px;
    padding-right: 30px;
    .back{
        font-size: 25px;
    }
    .setting{
        font-size: 25px;
    }
}

.actionbutton{
    background-color: turquoise;
    color: black;
    border-radius: 20px;
    margin-left: 110px;
    //margin-right: 50px;
    font-size: small;
    text-transform: none;
}