<ion-header>
  <ion-toolbar>
    <ion-title>VetCare App</ion-title>
    <ion-buttons class="setting" slot="end">
      <ion-icon name="settings-sharp"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="back" name="arrow-back-outline" routerLink="/tabs/profile"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="ion-padding">
      <ion-item>
        <ion-input [type]="showOldPassword ? 'text': 'password'" placeholder="Old Password"></ion-input>
        <ion-icon [name]="oldpasswordToggleIcon"  item-end (click)="toggleOldPassword()"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input [type]="showNewPassword ? 'text': 'password'" placeholder="New Password"></ion-input>
        <ion-icon [name]="newpasswordToggleIcon"  item-end (click)="toggleNewPassword()"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input [type]="showConfirmPassword ? 'text': 'password'" placeholder="Confirm Password"></ion-input>
        <ion-icon [name]="confirmpasswordToggleIcon"  item-end (click)="toggleConfirmPassword()"></ion-icon>
      </ion-item>
    </div>
    <ion-button class="actionbutton" shape="round">Save Changes</ion-button>
  </div>
</ion-content>