<ion-header>
  <ion-toolbar class="tool-one">
    <ion-title>VetCare App</ion-title>
    <ion-buttons class="setting" slot="end">
      <ion-icon name="settings-sharp" routerLink="/tabs/settings"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="tool-two">
    <ion-title>Pregnant Cattle Details</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="back" name="arrow-back-outline" routerLink="/tabs/farm"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Default Searchbar -->
    <ion-searchbar></ion-searchbar>

    <ion-list>
      <ion-grid id="pregnant" *ngFor="let breeding of (breedings | async)">
        <ion-row class="content">
          <ion-col size="6" [routerLink]="'tabs/view-cattle/'+cattle.id">
            <div>{{ farm.farmName }}</div>
          </ion-col>
          <ion-col size="6">
            <div>{{ cattle.cattleTagId }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
</ion-content>
