<ion-header>
  <ion-toolbar class="tool-one">
    <ion-title>VetCare App</ion-title>
    <ion-buttons class="setting" slot="end">
      <ion-icon name="settings-sharp" routerLink="/tabs/settings"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="tool-two">
    <ion-title>Notes</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="back" name="arrow-back-outline" routerLink="/tabs/profile"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--ion-content>
  <ion-list>
    <ion-item button detail *ngFor="let note of noteService.note" [routerLink]="'/tabs/note' + note.id" routerDirection="forward">
      <ion-label>{{ note.title }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content-->

<ion-content>
  <!--ion-list>
    <button ion-item *ngFor="let note of notes | async" (click)="getNote(note.createDate)">
      {{ note.title }}
    </button>
  </ion-list>

  <ion-buttons class="add" routerLink="/addnote">
    <ion-icon name="add-circle-sharp"></ion-icon>
  </ion-buttons-->
</ion-content>
