.tool-one{
    height: 150px;
}

.my-cam{
  //color: gray;
  font-size: 40px;
  margin-top: 80px;
  margin-left: 20px;
}
.user-pic{
  color: black;
  font-size: 100px;
  margin: auto;
  //margin-top: auto;
}
ion-card{
  border-radius: 150px;
  width: 98px;
  height: 98px;
  margin-left:30px;
  margin-top: 15px;
}
/*.add-propic{
  --display: inline;
}
.my-custom-class {
  --background: #e5e5e5;
}*/

img{
  border-radius: 150px;
  width: 98px;
  height: 98px;
  margin-left:30px;
  margin-top: 15px;
}

.name{
  font-size: 22px;
  margin-top: 30px;
}
.designation{
  font-size: 18px;
  margin-top: 5px;
}

/*.flex-right {
    justify-content: flex-end;
}

.theme{
  margin-left: 10px;
  margin-right: 10px;
}

.location{
  margin-left: 20px;
  font-size: x-large;
}

.about{
  margin-left: 20px;
  font-size: x-large;
}*/

.exit{
  margin-left: 20px;
  font-size: x-large;
  color: #eb445a;
}

.my-button{
  //color: black;
  //font-size: large;
  margin-left: 20px;
}

.note{
  margin-right: 25px;
  font-size: x-large;
}
.key{
  margin-right: 25px;
  font-size: x-large;
}
.edit{
  margin-right: 25px;
  font-size: x-large;
}





