<ion-header>
  <ion-toolbar class="one">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <div>
    <ion-button size="large" fill="clear" routerLink="/tabs/edit-profile">Edit Profile</ion-button>
  </div>
  <div>
    <ion-button size="large" fill="clear" routerLink="/tabs/change-password">Change Password</ion-button>  
  </div>
  <ion-toolbar>
    <ion-button size="large" fill="clear">Farm Finder</ion-button>  
  </ion-toolbar>
  <ion-toolbar>
    <ion-button size="large" fill="clear" routerLink="/tabs/about">About</ion-button>  
  </ion-toolbar>
  <ion-toolbar>
    <ion-button size="large" color="danger" fill="clear" routerLink="/login">Sign Out</ion-button>  
  </ion-toolbar>

</ion-content>
