<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>VetCare App</ion-title>
    <ion-buttons class="setting" slot="end">
      <ion-icon name="settings-sharp"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Disease Inormation</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="back" name="arrow-back-outline" routerLink="/tabs/cattle-info"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header></ion-card-header>
    <ion-card-content>
      <ion-grid class="info">
        <ion-row>
          <ion-col size="7">
            <div>Disease Info. ID : </div>
          </ion-col>
          <ion-col size="5">
            <div>001</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="7">
            <div>Date : </div>
          </ion-col>
          <ion-col size="5">
            <div>2020-2-3</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="7">
            <div>Clinical signs : </div>
          </ion-col>
          <ion-col size="5">
            <div>Depression, Appetite, hypersalivation</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="7">
            <div>Type of clinical signs : </div>
          </ion-col>
          <ion-col size="5">
            <div>Chronic</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="7">
            <div>Diagnosis : </div>
          </ion-col>
          <ion-col size="5">
            <div>FMD</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="7">
            <div>Treatments : </div>
          </ion-col>
          <ion-col size="5">
            <div>FMD Vaccine</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="7">
            <div>Remarks : </div>
          </ion-col>
          <ion-col size="5">
            <div>No</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-button class="actionbutton" expand="block">UPDATE</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button class="actionbutton" expand="block" color="danger">DELETE</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header></ion-card-header>
    <ion-card-content>
      <ion-grid class="info">
        <ion-row>
          <ion-col size="7">
            <div>Disease Info. ID : </div>
          </ion-col>
          <ion-col size="5">
            <div>002</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="7">
            <div>Date : </div>
          </ion-col>
          <ion-col size="5">
            <div>2020-2-3</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="7">
            <div>Clinical signs : </div>
          </ion-col>
          <ion-col size="5">
            <div>Depression, Appetite, hypersalivation</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="7">
            <div>Type of clinical signs : </div>
          </ion-col>
          <ion-col size="5">
            <div>Chronic</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="7">
            <div>Diagnosis : </div>
          </ion-col>
          <ion-col size="5">
            <div>FMD</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="7">
            <div>Treatments : </div>
          </ion-col>
          <ion-col size="5">
            <div>FMD Vaccine</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="7">
            <div>Remarks : </div>
          </ion-col>
          <ion-col size="5">
            <div>No</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-button class="actionbutton" expand="block">UPDATE</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button class="actionbutton" expand="block" color="danger">DELETE</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>