<ion-header>
  <ion-toolbar class="tool-one">
    <ion-title>VetCare App</ion-title>
    <ion-buttons class="help" slot="end">
      <ion-icon name="help-circle-outline" routerLink="/tabs/help" class="help-icon"></ion-icon>
    </ion-buttons>  
    <ion-buttons class="setting" slot="end">
      <ion-icon name="settings-sharp" routerLink="/tabs/settings"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="tool-two">
    <ion-title>Cattle House</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="back" name="arrow-back-outline" routerLink="/tabs/farm"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-content>
  <!-- Default Searchbar -->
  <ion-searchbar  [(ngModel)]="term" animated="true"></ion-searchbar>

    <ion-list>
      <ion-grid id="cattle">
        <ion-col size="6">
          Farm Name
        </ion-col>
        <ion-col size="6">
          Cattle Id
        </ion-col>
      </ion-grid>
      <ion-grid id="cattle" *ngFor="let cattle of (cattles | async | filter:term)">
        <div *ngFor="let farm of (farms | async | filter:term)">
          <ion-row class="content" *ngIf="cattle.farmid===farm.farmRegNo">
            <ion-col size="6" [routerLink]="'/tabs/view-cattle/'+cattle.id">
              <div>{{ farm.farmName}}</div>
            </ion-col>
            <ion-col size="6">
              <div>{{ cattle.cattleTagId }}</div>
            </ion-col>
          </ion-row>
        </div>      
      </ion-grid>
    </ion-list>
</ion-content>
