<ion-header>
  <ion-toolbar class="tool-one">
    <ion-title>VetCare App</ion-title>
    <ion-buttons class="setting" slot="end">
      <ion-icon name="settings-sharp" routerLink="/tabs/settings"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="tool-two">
    <ion-title>Add Breeding Information</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="back" name="arrow-back-outline" routerLink="/tabs/cattle-info"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="ion-padding">
      <ion-item>
        <ion-datetime type="date" placeholder="Date of heat sign observed" dispalyFormat="DD-MM-YYYY"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-datetime type="date" placeholder="Date of first AI" dispalyFormat="DD-MM-YYYY"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-datetime type="date" placeholder="Date of second AI" dispalyFormat="DD-MM-YYYY"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Seman ID"></ion-input>
      </ion-item>
      <ion-item>
        <ion-datetime type="date" placeholder="Date of PD" dispalyFormat="DD-MM-YYYY"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-datetime type="date" placeholder="Date of last calving" dispalyFormat="DD-MM-YYYY"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Number of calving"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="AI receipt no."></ion-input>
      </ion-item>
    </div>
    <ion-button class="save" expand="block" shape="round" routerLink="/tabs/breeding-info">SAVE</ion-button>
  </div>
</ion-content>
