<ion-header>
  <ion-toolbar>
    <ion-title>VetCare App</ion-title>
    <ion-buttons class="setting" slot="end">
      <ion-icon name="settings-sharp"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button shape="round">Add New Farm</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button shape="round">QR Scanner</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid id="farmers">
    <ion-row class="content">
      <ion-col size="6" routerLink="/tabs/farm-info">
        <div>S.M.Priyantha</div>
      </ion-col>
      <ion-col size="4">
        <div>81246977070</div>
      </ion-col>
      <ion-col size="2">
        <div>
          <ion-icon name="trash-outline" color="danger" (click)="presentAlertCofirm()"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="content">
      <ion-col size="6">
        <div>S.M.Priyantha</div>
      </ion-col>
      <ion-col size="4">
        <div>81246977070</div>
      </ion-col>
      <ion-col size="2">
        <div>
          <ion-icon name="trash-outline" color="danger" (click)="presentAlertCofirm()"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="content">
      <ion-col size="6">
        <div>S.M.Priyantha</div>
      </ion-col>
      <ion-col size="4">
        <div>81246977070</div>
      </ion-col>
      <ion-col size="2">
        <div>
          <ion-icon name="trash-outline" color="danger" (click)="presentAlertCofirm()"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="content">
      <ion-col size="6">
        <div>S.M.Priyantha</div>
      </ion-col>
      <ion-col size="4">
        <div>81246977070</div>
      </ion-col>
      <ion-col size="2">
        <div>
          <ion-icon name="trash-outline" color="danger" (click)="presentAlertCofirm()"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="content">
      <ion-col size="6">
        <div>S.M.Priyantha</div>
      </ion-col>
      <ion-col size="4">
        <div>81246977070</div>
      </ion-col>
      <ion-col size="2">
        <div>
          <ion-icon name="trash-outline" color="danger" (click)="presentAlertCofirm()"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="content">
      <ion-col size="6">
        <div>S.M.Priyantha</div>
      </ion-col>
      <ion-col size="4">
        <div>81246977070</div>
      </ion-col>
      <ion-col size="2">
        <div>
          <ion-icon name="trash-outline" color="danger" (click)="presentAlertCofirm()"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> 
  

</ion-content>
