ion-toolbar{
    /*ion-title{
        margin-left: 5px;
    }*/
    padding-left: 30px;
    padding-right: 30px;
    .back{
        font-size: 25px;
    }
    .setting{
        font-size: 25px;
    }
}

.content{
    //position:fixed;
  
    margin-left:5px;
    margin-right:5px;
    margin-top: 3px;
    border: 1px solid #ddd;
    padding: 8px;
}

#farmers{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.add{
    font-size: 35px;
}