<ion-header>
  <ion-toolbar class="tool-one">
    <ion-title>VetCare App</ion-title>
    <ion-buttons class="setting" slot="end">
      <ion-icon name="settings-sharp" routerLink="/tabs/settings"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="tool-two">
    <ion-title>Edit Profile</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="back" name="arrow-back-outline" routerLink="/tabs/profile"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="ion-padding">
      <ion-item>
        <ion-input type="text" placeholder="First Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Last Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Pohen No."></ion-input>
      </ion-item>
    </div>
    <ion-button class="save" expand="full" shape="round">Save Changes</ion-button>
  </div>
</ion-content>
