ion-slide{
  padding: 160px 20px;
  display: block;
  h1{
      font-size: 40px;
      font-weight: bold;
  }
  img{
      width: 200px;
      height: 200px;
  }

  .link-button{
      color: blue;
  }
}